# Секреты и настройки (ВАЖНО)
.env
!.env.example

# Виртуальное окружение Python
.venv/
venv/
ENV/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Настройки VS Code
.vscode/

# Системные файлы
.DS_Store
Thumbs.db


# Другое
DETAILED_ASSIGNMENT_FIXED.md
advanced_patterns_guide.md